/* .header, .nav, .main, .sidebar, .advertise, .footer{
    background-color: bisque;
    border: 2px solid tomato;
    border-radius: 5px;
    padding: 10px;
} */

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.advertise {
  grid-area: advertise;
}
/* Add this to your existing CSS or create a new CSS file */
.available{
    grid-area: available;
    /* width: 100vw; Set the width to 100% of the viewport width */
}

.footer {
  grid-area: footer;
}

/* .container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header   header   header   header"
    "nav      main      main    sidebar"
    "nav      main      main   advertise"
    "footer  footer    footer   footer";
} */
/* Update your existing .container CSS */
.container {
    display: grid;
    grid-template-areas:
        "header   header   header   header"
        "nav      main      main    sidebar"
        "nav      main      main    advertise"
        "available available available available"
        "footer   footer    footer   footer"
 
}

/* ... Your existing CSS styles */

/* fonts */
body {
  /* font-family: "Bebas Neue", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif; */
}
/* styles */

    /* Add this to your existing CSS or create a new CSS file */
.available h2{
    font-family: "Bebas Neue", sans-serif;
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "sidebar"
      "advertise"
      "available"
      "footer";
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    grid-template-areas:
      "header header header"
      "nav     nav    nav"
      "sidebar main    main"
      "advertise footer footer"
      "available available"
      "footer footer footer"
  }
}
